version: "3.8"
services:
  plex:
    container_name: plex
    image: lscr.io/linuxserver/plex:1.32.8.7639-fb6452ebf-ls199
    restart: unless-stopped
    environment:
      - TZ={{ TZ }}
      - PUID=1000
      - PGID=1000
      - VERSION=docker
      - PLEX_CLAIM={{ PLEX_CLAIM }}
    volumes:
      - config:/config
      - media:/media
    networks:
      mymacvlan:
        ipv4_address: {{ CONTAINER_IP }}
volumes:
  config:
   driver: local
   driver_opts:
     type: nfs
     o: "addr={{ NFS_HOST }},rw,noatime"
     device: ":{{ CONTAINER_VOLUME }}/config"
  media:
   driver: local
   driver_opts:
     type: nfs
     o: "addr={{ NFS_HOST }},rw,noatime"
     device: ":{{ MULTIMEDIA_VOLUME }}"
networks:
  mymacvlan:
    name: mymacvlan
    external: true
